.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}

.add-button {
    padding-top: 50px;
    margin-right: 40px;
}

.text-container {
    margin-left: 40px;
}

.material-design {
    font-size: 13px;
    font-family: 'calibri', 'sa';
    padding-bottom: 20px;
}

.app-name {
    font-size: 40px;
    font-family: 'calibri', 'sa';
}

.separator {
    border: 1px solid #ccc;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
